<%= form_with(model: user, local: true) do |form| %>
  <div class="field">
    <%= form.label :name %><br>
    <%= form.text_field :name %><br>
  </div>
  <div class="field">
    <%= form.label :email %><br>
    <%= form.text_field :email %><br>
  </div>
  <div class="field">
    <%= form.label :password %><br>
    <%= form.password_field :password %><br>
  </div>
  <div class="field">
    <%= form.label :password_confirmation, "Confirmation" %><br>
    <%= form.password_field :password_confirmation %><br>
  </div>
  <% if logged_in? && current_user.is_admin? %>
    <br>
    <div class="field">
      <%= form.label :admin %>
      <%= form.check_box :admin %><br>
    </div>
  <% end %><br>
  <div class="actions" style="float:right">
    <%= form.submit %>
  </div>
<% end %>
