<h5 class="container" style="background-color: #bce5ff; color:#42698f; opacity:0.7; width:1000px; text-align:center"><b>User details</b></h5>
<br>
<div class="container" style="width:1000px">
  <div class="row" style="align-items:center">
    <div class="col">
      <div class="card" style="width:550px">
        <div class="card-header" style="background-color:rgba(0, 121, 203, 0.5);">
            <h3 style="text-align:center"><strong><%= @user.name %></strong></h3>
        </div>
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col">
                Email: <strong><%= @user.email %></strong>
              </div>
              <div class="col">
                Administrator role: <strong><font color="yellow"><%= @user.admin %></font></strong>
              </div>
            </div><br>
            <div class="row" style="float:right">
              <% if current_user == @user %>
                <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-sm btn-info'  %>
              <% elsif current_user.is_admin? %>
                <%= form_with scope: :users, url: switch_role_path do |f| %>
                  <%= hidden_field_tag(:id, @user.id) %>
                  <%= f.submit "Switch role", data: { confirm: 'The user role will be changed: Are you sure?' }, class: 'btn btn-sm btn-warning' %>
                <% end %> &nbsp;
                <%= link_to 'Delete', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br><br>
  <% if current_user.is_admin? %>
      <%= link_to 'Users list', users_path, class: 'btn btn-sm btn-primary' %>
  <% end %>
</div>