<h5 class="container" style="background-color: #bce5ff; color:#42698f; opacity:0.7; width:1000px; text-align:center"><b>Building details</b></h5>
<br>
<div class="container" style="width:1000px">
  <div class="row" style="align-items:center">
    <div class="card" style="width:350px">
      <div class="card-header" style="background-color:rgba(0, 121, 203, 0.5);">
          <h3 style="text-align:center"><strong><%= @building.name %></strong></h3>
      </div>
      <div class="card-body">
        <div>Address: <strong><%= @building.address %></strong></div>
        <div>Coordinates: <strong><%= @building.coordinates %></strong></div><br>
        <div>Rooms: 
          <a href="/rooms?building_id=<%= @building.id %>">
            <strong><font color="yellow"><%= @building.rooms.where(active: true).count %></font></strong>
          </a>
        </div>
        <% if current_user.is_admin? %>
          <div style="float:right">
            <%= link_to 'Edit', edit_building_path(@building), class: 'btn btn-sm btn-info' %>
            <%#= link_to 'Delete', @building, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
          </div>
        <% end %>
      </div>
    </div>
  </div><br><br>
  <%= link_to 'Buildings list', buildings_path, class: 'btn btn-sm btn-primary' %>
</div>
