<div class="container">
<p>
  <strong>Name:</strong>
  <%= @building.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @building.address %>
</p>

<p>
  <strong>Coordinates:</strong>
  <%= @building.coordinates %>
</p>

<% if current_user.is_admin? %>
  <%= link_to 'Edit', edit_building_path(@building) %> |
<% end %>
<%= link_to 'Back', buildings_path %>
</div>