<div class="container" style="width:1200px">
  <div class="row" style="align-items:center">
    <div class="col-6"> 
      <h3>New reservation:</h3><br>
      <div class="card" style="width:550px">  
        <div class="container">
          <%= form_for @reservation, utl: {action: "create"} do |form| %>
            <br>
            <%= hidden_field_tag(:room_id, @room.id) %>
            
            <div class="field">
              <%= form.label :start_time%>: 
              <%= form.datetime_select :valid_from, default: 1.hours.from_now %>
            </div>

            <div class="field">
              <%= form.label :end_time %>: &nbsp;
              <%= form.datetime_select :valid_to, default: 2.hours.from_now %>
            </div>
            <br>
            <div class="field">
              <%= form.label :attendants %>: 
              <%= form.number_field :attendants, min: 0, max: @room.max_capacity %>
            </div>
            <div style="float: right;">
              <%= form.submit "Confirm", class: 'btn btn-sm btn-success' %>
            </div>
            <br><br>
          <% end %>
        </div>
      </div> 
    </div>
    <div class="col-6">
      <br><br><br>
      <div class="card" style="width:370px">
        <div class="card-header" style="background-color:rgba(0, 121, 203, 0.5);">
          <div class="row" style="align-items:center">
            <div class="col-1">
              <% if @room.active %>
                <div><font color="green"><i class="far fa-check-circle fa-2x" title="The room is active"></i></font></div>
              <% else %>
                <div><font color="darkred"><i class="far fa-times-circle fa-2x" title="The room is inactive"></i></font></div>
              <% end %>
            </div>
            <div class="col-10">
                <h3 style="text-align:center"><strong><%= @room.name %></strong></h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="container">
            <div>Building: <strong><%= @room.building.name %></strong></div>
            <div>Floor: <strong><%= @room.floor %></strong></div>
            <div>Max capacity: <strong><%= @room.max_capacity %></strong></div>
            <div>Available equipment: 
              <ul>
                <% @room.accessories.each do |a|%>
                  <li><strong><%= a.name %></strong></li>
                <% end %>
              </ul>
            </div>
            <div>Current status: 
            <% @status = @room.status %>
            <% if @status["is_occupied"] %>
              <strong><font color="darkred">The room is occupied</font></strong><br>
              Estimated occupants: <strong><%= @status["estimated_occupants"] %></strong>
            <% else %>
              <strong><font color="green">The room is empty</font></strong>
            <% end %>
            </div><br>
            <div style="float: right;">
              <%= link_to 'Show', @room, class: 'btn btn-sm btn-primary' %>
            </div><br>
          </div>
        </div>  
      </div>
    </div>
  </div>
  <br><br>
  <%= link_to "Back", rooms_path, class: 'btn btn-sm btn-secondary'%>
  <%= link_to "My Reservations", reservations_path, class: 'btn btn-sm btn-primary'%>
</div>