<h3>Reservation confirmed for '<%= @reservation.user.name %>':</h3><br>
<div class="col-5 center"> 
  <div class="card" style="padding:30px;">
    <div class="container">
      <div>Room's Name: <strong><%= @room.name %></strong></div>
      <div>Code: <strong><%= @room.code %></strong></div>
      <div>Building: <strong><%= @room.building.name %></strong></div>
      <div>Floor: <strong><%= @room.floor %></strong></div>
      <div>Available equipment: 
        <ul>
          <% @room.accessories.each do |a|%>
            <li><strong><%= a.name %></strong></li>
          <% end %>
        </ul>
      </div>
      <div>Max capacity: <strong><%= @room.max_capacity %></strong></div>
      <div>Expected attendants: <strong><%= @reservation.attendants %></strong></div>
      <div>Start time: <strong><%= @reservation.valid_from %></strong></div>
      <div>End time: <strong><%= @reservation.valid_to %></strong></div>
    </div>
  </div>
</div>
<br><br><br>
<%= link_to "My Reservations", reservations_path, class: 'btn btn-sm btn-success'%>
<% if current_user.is_admin? %>
  <%= link_to "All Reservations", all_reservations_path, class: 'btn btn-sm btn-primary'%>
<% end %>