<div><%= line_chart Room.joins(:reservations).group(:name).group("date(valid_from)").count %>
</div><br>
<div class="card">
  <div class="card-header">
    <h3 style="text-align:center">Reservations per room (last week)</h3>
  </div>
  <div class="card-body" style="background-color: #C2DFFF; opacity:0.8">
    <%= column_chart Room.joins(:reservations).merge(Reservation.last_week).group(:name).count %>
  </div>
</div><br>
<div class="card">
  <div class="card-header">
    <h3 style="text-align:center">Reservations per hour</h3>
  </div>
  <div class="card-body" style="background-color: #C2DFFF; opacity:0.8">
    <%= line_chart Reservation.last_weekday.in_time(9..18).group("strftime('%H', reservations.valid_from)").count %>
  </div>
</div><br>
<div class="card">
  <div class="card-header">
    <h3 style="text-align:center">Users with more reservations in last 30 days</h3>
  </div>
  <div class="card-body" style="background-color: #C2DFFF; opacity:0.8">
    <%= bar_chart User.joins(:reservations).merge(Reservation.last_month).group(:name).order('count_id desc').count('id').take(5), label: "Reservations", xtitle: "Reservations", ytitle: "User" %>
  </div>
</div><br>
<div class="card">
  <div class="card-header">
    <h3 style="text-align:center">Rooms with more reservations in last 30 days</h3>
  </div>
  <div class="card-body" style="background-color: #C2DFFF; opacity:0.8">
    <%= bar_chart Room.joins(:reservations).merge(Reservation.last_month).group(:name).order('count_id desc').count('id').take(5), label: "Reservations", xtitle: "Reservations", ytitle: "Room" %>
  </div>
</div>