<h5 class="container" style="background-color: #bce5ff; color:#42698f; opacity:0.7; width:1000px; text-align:center"><b>Room details</b></h5>
<br>
<div class="container" style="width:980px">
  <div class="row" style="align-items:center">
    <div class="col">
      <div class="card" style="width:370px">
        <div class="card-header" style="background-color:rgba(0, 121, 203, 0.5);">
          <div class="row" style="align-items:center">
            <div class="col-1">
              <% if @room.active %>
                <div><font color="green"><i class="far fa-check-circle fa-2x" title="The room is active"></i></font></div>
              <% else %>
                <div><font color="darkred"><i class="far fa-times-circle fa-2x" title="The room is inactive"></i></font></div>
              <% end %>
            </div>
            <div class="col-10">
                <h3 style="text-align:center"><strong><%= @room.name %></strong></h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="container">
            <div>Code: <strong><%= @room.code %></strong></div>
            <div>Building: <strong><%= @room.building.name %></strong></div>
            <div>Floor: <strong><%= @room.floor %></strong></div>
            <div>Max capacity: <strong><%= @room.max_capacity %></strong></div>
            <div>Available equipment: 
              <ul>
                <% @room.accessories.each do |a|%>
                  <li><strong><%= a.name %></strong></li>
                <% end %>
              </ul>
            </div>
            <% @status = @room.status %>
            <div>Current status: 
            <% if @status.nil? %>
              <i><font color="yellow">There is no information for this room</font></i>
            <% elsif @status["is_occupied"] %>
              <strong><font color="darkred">The room is occupied</font></strong><br>
              Estimated occupants: <strong><%= @status["estimated_occupants"] %></strong>
           <% else %>
              <strong><font color="green">The room is available</font></strong>
            <% end %>
            </div><br><br>
            <div style="float:right">
              <%= link_to 'Reserve', new_reservation_path(room_id: @room.id), class: 'btn btn-sm btn-primary' %>
              <% if current_user.is_admin? %>
                <%= link_to 'Edit', edit_room_path(@room), class: 'btn btn-sm btn-info' %>
                <%= link_to 'Delete', @room, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
              <% end %>
            </div><br>
          </div>
        </div>
      </div>
    </div>
    <% if @room.reservations.not_expired.any? %>
      <div class="col">
        <div class="card" style="width:530px">
          <h4 class="card-header" style="background-color:rgba(0, 121, 203, 0.5);"> &nbsp; Scheduled reservations:</h4>
          <div class="card-body">
            <ul><font size="2.5">
            <% @room.reservations.not_expired.sort_by {|item| item.valid_from}.take(10).each do |r| %>
              <li>From <%= r.valid_from %> - To <%= r.valid_to %></li>
            <% end %>
            </font></ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <br><br>
  <%= link_to "Rooms list", rooms_path, class: 'btn btn-sm btn-primary'%>
</div>