<!DOCTYPE html>
<html>
  <head>
    <title>SmarterRooms</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <font style="color:LightBlue;">
      <%= render "layouts/nav_bar" %>
      <br><br><br>
        <div class="container">
          <% flash.each do |message_type, message| %>
            <%= content_tag :div, message, class: "alert alert-#{message_type}" %>
          <% end %>
          <%= yield %>
        </div>
      <br>
      <%= render "layouts/footer" %>
    </font>
  </body>
</html>
